<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vicinity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.example.vicinity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/vinicity"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vinicity"
        android:supportsRtl="true"
        android:theme="@style/Theme.Minutos">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxA_gnxGUvRv8R82gTjpvI7xcoAG7qDVA" />

        <activity
            android:name="com.example.vicinity.ui.favoritesPlaces.FavoritesPlacesActivity"
            android:exported="true"
            android:label="@string/favorites_places"/>
        <activity
            android:name="com.example.vicinity.ui.detailsPlace.DetailsPlaceActivity"
            android:exported="true" />
        <activity
            android:name="com.example.vicinity.ui.listNearbyPlaces.NearbyPlacesActivity"
            android:exported="true"
            android:label="@string/nearby_places">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>